.main {
    text-align: center;
}

.gridContainer {
    margin: 20px;
    display: inline-grid;
    width: 800px;
    height: 800px;
    border: 5px solid black;
}

.gridItem {
    background-color: white;
    border: 0.5px solid black;
}

.resetHeader {
    background-color: black;
    color: white;
    font-size: large;
    font-family: monospace;
}

.resetButton {
    width: 800px;
    height: 50px;
    background-color: purple;
    color: white;
    border: 1px solid white;
    font-size: x-large;
    font-family: monospace;
    margin: 20px
}
